<head>
  <title>Skript Editor</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Skript editor is a tool that allows you to edit the language designed for minecraft, skript, with autocorrect and error formatting." />
  <meta name="theme-color" content="#ffce8f" />

  <!-- SEO -->
  <meta name="language" content="EN">
  <meta name="keywords" content="skript, editor, skEditor">

  <!-- ICONS -->
  <link rel="icon" type="image/ico" href="/favicon.ico">
  <link rel="icon" sizes="192x192" href="/images/icons/icon-192x192.png">
  <link rel="manifest" href="/manifest.json">

  <!-- Apple trying to be "special" -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
  <link rel="apple-touch-startup-iamge" href="/images/icons/icon-128x128.png">
</head>