<span class="close-button">×</span>
<input type="checkbox" name="blast" id="blast-o" value="blast">Code Blast<br>
<input type="checkbox" name="autocomplete" id="autocomplete-o" checked>Autocompletion<br>
<input type="checkbox" name="soft-tab" id="soft-o" value="soft-tab">Soft Tabbing<br>
<input type="checkbox" name="invisible" id="invisible-o" value="invsible">Show Hidden Characters<br>
<label for="soft-s">Tab Size:</label>
<input type="number" name="tabsize" id="soft-s" value="4" placeholder="Tab Size">
<br>
<label for="soft-s">Text Size</label>
<input type="number" name="tabsize" id="soft-s" value="12" placeholder="Text Size">
<br>
<br>
<label for="theme">Theme:</label>
<select id="theme">
  <optgroup label="Light">
    <option value="chrome">Chrome</option>
    <option value="clouds">Clouds</option>
    <option value="crimson_editor">Crimson</option>
    <option value="dawn">Dawn</option>
    <option value="dreamweaver">Dreamweaver</option>
    <option value="eclipse">Eclipse</option>
    <option value="github">Github</option>
    <option value="iplastic">IPlastic</option>
    <option value="katzenmilch">katzenmilch</option>
    <option value="kuroir">Kuroir</option>
    <option value="solarized_light">Solarized</option>
    <!-- -->
    <option value="sqlserver">SQLServer</option>
    <option value="tomorrow_night">Tomorrow Night</option>
    <option value="terminal">Terminal</option>
    <option value="textmate" selected>Text Mate</option>
    <option value="tomorrow">Tomorrow</option>
    <option value="xcode">XCode</option>
  </optgroup>
  <optgroup label="Dark">
    <option value="ambiance">Ambiance</option>
    <option value="chaos">Chaos</option>
    <option value="clouds_midnight">Clouds (Midnight)</option>
    <option value="cobalt">Cobalt</option>
    <option value="dracula">Dracula</option>
    <option value="gob">Gob</option>
    <!-- -->
    <option value="gruvbox">Gruvbox</option>
    <option value="idle_fingers">Idle Fingers</option>
    <option value="kr_theme">Kr Theme</option>
    <option value="merbivore">Merbivore</option>
    <option value="merbivore_soft">Merbivore (Soft)</option>
    <option value="mono_industrial">Mono Industrial</option>
    <option value="monokai">Monokai</option>
    <option value="pastel_on_dark">Pastel On Dark</option>
    <option value="solarized_dark">Solarized</option>
    <option value="tomorrow_night_blue">Tomorrow Night Blue</option>
    <option value="tomorrow_night_bright">Tomorrow Night Bright</option>
    <option value="tomorrow_night_eighties">Tomorrow Night 80s</option>
    <option value="twilight">Twilight</option>
    <option value="vibirant_ink">Vibirant Ink</option>
  </optgroup>
</select>